input[type="text"], input[type="password"], input[type="email"], button {
    width: 100%;  /* 使输入框和按钮宽度占满整个父元素 */
    max-width: 400px;  /* 限制最大宽度 */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


button {
    width: 50%;
    max-width: 400px;
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

button:hover {
    background-color: #4cae4c;
}
table {
    width: 100%;
    max-width: 600px;  /* 可以增加最大宽度，让表格更宽 */
    margin: 20px auto;
    border-spacing: 10px;
    border-collapse: separate;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* 表格單元格的樣式 */
td {
    padding: 10px;
    text-align: center;  /* 使表格内容居中 */
    vertical-align: middle;  /* 垂直居中 */
    border-bottom: 1px solid #ddd;
    background-color: #f9f9f9;
}


/* 表格的最後一行不顯示底部邊框 */
tr:last-child td {
    border-bottom: none;
}