.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 100%;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.btn-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

footer .btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}

footer .btn:hover {
    background-color: #45a049;
}
/* 使表格中的元素具有合適的間距 */
table {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    border-spacing: 10px; /* 增加單元格間的間距 */
    border-collapse: separate;
}
